[z_calibration]
nozzle_xy_position:   192.00,236.50 #32,0 # 190,0
#probe_nozzle_x: 348.50
#probe_nozzle_y: 350
switch_xy_position:   187.50,216.50 # 36,17 #186,17
#probe_switch_x: 230
#probe_switch_y: 330.50
bed_xy_position:      111.00,95.50 #108,95
switch_offset:        0.48 #0.52 #0.67 #0.52
offset_margins:       2.0
#safe_z_home:          7.5
speed:                150
samples:              3
probing_first_fast:   true
start_gcode:          Dock_Probe_Unlock
before_switch_gcode:  Attach_Probe
end_gcode:            Dock_Probe

#[gcode_macro CALIBRATE_Z]
#rename_existing: BASE_CALIBRATE_Z
#gcode:
#    M117 Z-Calibration..
#    SET_GCODE_OFFSET Z=0
#    BASE_CALIBRATE_Z
#    M117