# PRINT_START Macro
#
# Make sure to replace Printer Settings > Custom G-code > Start G-cocde with the following (for PrusaSlicer/SuperSlicer):
#
# M104 S0 ; Stops PS/SS from sending temp waits separately
#M140 S0
# PRINT_START BED=[first_layer_bed_temperature] EXTRUDER={first_layer_temperature[initial_extruder]+extruder_temperature_offset[initial_extruder]} CHAMBER=[chamber_temperature]

[gcode_macro PRINT_START]
gcode:
    RESPOND TYPE=command MSG='Start'
    {% set BED = params.BED|default(65)|float %}
    {% set BED_TEMP = params.BED_TEMP|default(0)|float %}
    {% set EXTRUDER = params.EXTRUDER|default(210)|float %}
    {% set EXTRUDER_TEMP = params.EXTRUDER_TEMP|default(0)|float %}
    {% set MATERIAL = params.MATERIAL|default("PLA")|string %}

    {% if (EXTRUDER_TEMP > 0) %}
	    {% set EXTRUDER = EXTRUDER_TEMP %}
    {% endif %}

    {% if (BED_TEMP > 0) %}
	    {% set BED = BED_TEMP %}
    {% endif %}
    RESPOND TYPE=command MSG='Wake Up'
    WAKEUP
    _servo_test_angle angle=100
    _servo_test_angle angle=120
    RESPOND TYPE=command MSG='Disable BTT'
    SET_FILAMENT_SENSOR SENSOR=btt_smartie ENABLE=0
    M118 Configuring for {MATERIAL}
    #SET_FAN_SPEED FAN=Nevermore SPEED=0
    {% if (MATERIAL == "PLA") %}
        #SET_FAN_SPEED FAN=cooling_fan SPEED=0.75
        #FILAMENT_PLA
    {% elif (MATERIAL == "PETG") %}
        #FILAMENT_PETG
    {% elif (MATERIAL == "ABS") %}
        #SET_FAN_SPEED FAN=Nevermore SPEED=0.75
        #FILAMENT_ABS
    {% elif (MATERIAL == "ASA") %}
        #SET_FAN_SPEED FAN=Nevermore SPEED=0.75
        #FILAMENT_ASA
    {% elif (MATERIAL == "TPU") %}
        #FILAMENT_TPU
    {% else %}
        #FILAMENT_OTHER
    {% endif %}

    {% set intro_x = printer.configfile.config["stepper_x"]["position_max"]|float * 0.66 %}
    {% set min_x = printer.configfile.config["stepper_x"]["position_min"]|float * 0.1 %}
    {% set min_y = printer.configfile.config["stepper_y"]["position_min"]|float %}
    {% set max_x = printer.configfile.config["stepper_x"]["position_max"]|float %}
    {% set max_y = printer.configfile.config["stepper_y"]["position_max"]|float %}

    STATUS_BUSY
    RESPOND TYPE=command MSG='Heating Bed'
    SET_HEATER_TEMPERATURE HEATER=extruder TARGET=190        ; set extruder temp to 160 for QGL w/o oozing    
    SET_HEATER_TEMPERATURE HEATER=heater_bed TARGET={BED}    ; set bed temp

    
    M117 Start up...
    #SET_CASELIGHT_ON
    G21          ; set to mm
    M220 S100	 ; set print speed to 100%
    M221 S100	 ; set flow rate to 100%
    M107         ; disable fans
    G90          ; absolute positioning
    M117 Pre-print park
    G28

    RESPOND TYPE=command MSG='Heating Nozzle'
    SET_HEATER_TEMPERATURE HEATER=extruder TARGET={EXTRUDER}
    G0 X67 Y237 Z2 F5000
    TEMPERATURE_WAIT SENSOR=extruder MINIMUM={EXTRUDER}
    
    RESPOND TYPE=command MSG='Clean Nozzle'
    M117 Cleaning Nozzle
    clean_nozzle
    
    
    SET_HEATER_TEMPERATURE HEATER=extruder TARGET=190 
    TEMPERATURE_WAIT SENSOR=extruder MAXIMUM=200
    G0 X7 Y237 Z0 F5000 
    G0 X67 Y237 Z0 F5000
    G0 X7 Y237 Z0 F5000 
    G0 X67 Y237 Z0 F5000
    G0 Z5
    G28 Z    
    G0 Z10 F5000
    M117 Calibrating Z
    RESPOND TYPE=command MSG='Calibrating Z'
    STATUS_CALIBRATING_Z
    CALIBRATE_Z                  # as per https://github.com/protoloft/klipper_z_calibration, a second G28 is not needed
#    G0 Z10 F5000
    M117 Preheating
    STATUS_HEATING
    TEMPERATURE_WAIT SENSOR=heater_bed MINIMUM={BED - 1}    ; wait for bed temp         
    STATUS_READY
    

    #M117 Homing
    #G32                                                 ; home
    M117 Calibrating Z
    SET_DISPLAY_TEXT MSG="Bed mesh"
    STATUS_MESHING
    BED_MESH_CALIBRATE

    RESPOND TYPE=command MSG='Heat to Print Temp'
    STATUS_HEATING
    M117 Heating to {EXTRUDER}C
    SET_HEATER_TEMPERATURE HEATER=extruder TARGET={EXTRUDER}

    G1 X7 Y237 Z5 F5000 # Park Nozzle while it heats up

#    M117 Purge Line
#    # G92 E0.0                                          ; reset extruder to 0
#    # G1 Z0.2 X{intro_x} E20 F1000.0                    ; intro line
#    # G92 E0.0                                          ; reset extruder to 0
#    M83                                                 ; extruder to relative mode
#    G92 E0                                              ; Reset extruder
    TEMPERATURE_WAIT SENSOR=extruder MINIMUM={EXTRUDER} ; wait for extruder temp
    TEMPERATURE_WAIT SENSOR=extruder MAXIMUM={EXTRUDER}
#    M117 Cleaning Nozzle
    RESPOND TYPE=command MSG='One Last Clean'
    G1 X7 Y237 Z0 F5000
    G0 X100 Y237 Z0 F5000 #    clean_nozzle
    G0 Z10
    G1 X{max_x / 2} Y{max_y / 2} Z5 F5000

    # G1 Y{min_y} X{min_x} Z0.3 F5000                     ; move to start position
    # G1 Y{min_y} X{intro_x} Z0.3 F1500.0 E15             ; draw first line
    # G1 Y{min_y + 0.3} X{intro_x} Z0.3 F5000             ; move over
    # G1 Y{min_y + 0.3} X{min_x / 2} Z0.3 F1500 E35       ; draw second line
#    ADAPTIVE_PURGE
#    G1 X5 Y5 Z0.2 F5000 ; get ready to prime
#    G92 E0 ; reset extrusion distance
#    G1 X170 E15 F600 ; prime nozzle
#    G1 X190 F5000 ; quick wipe
#    G92 E0
#    G1 X190 Z5 F5000
#    G1 E-2 F600
    M400                              ; clear buffer
#    UPDATE_DELAYED_GCODE ID=_CLEAR_DISPLAY DURATION=10
    SFS_ENABLE 
    TIMELAPSE_TAKE_FRAME
    STATUS_PRINTING
    RESPOND TYPE=command MSG='Print Starting'
    M117 Printing
  
    #SET_FILAMENT_SENSOR SENSOR=btt_smartie ENABLE=1
    